<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
    <title>Star Wars API</title>
  </head>
  <body>
		<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
		    <a class="navbar-brand" href="#">Star Wars API</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarCollapse">
		        <ul class="navbar-nav mr-auto">
		           <li class="nav-item">
		                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" th:href="@{/films/}">Films</a>
		            </li>
		            <li class="nav-item active">
		                <a class="nav-link" href="#">Characters</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" th:href="@{/starships/}">Starships</a>
		            </li>
		        </ul>
		    </div>
		</div>
		
		    <div class="jumbotron text-center">
		        <div class="table-responsive">
		        	<h1>Characters</h1>
					<table class="table custom-table">
			          <thead>
			            <tr>
			              <th scope="col">Name</th>
			              <th scope="col">Height</th>
			              <th scope="col">Mass</th>
			              <th scope="col">Hair Color</th>
			              <th scope="col">Skin color</th>
			              <th scope="col">Eye color</th>
			              <th scope="col">Birth year</th>
			              <th scope="col">Gender</th>
			              <th scope="col">Created</th>
			              <th scope="col">Edited</th>
			              <th scope="col">URL</th>
			            </tr>
			          </thead>
			          <tbody>
			            <tr th:each="people : ${listPeople}">
			              	<td th:text="${people.name}"></td>
			            	<td th:text="${people.height}"></td>
			            	<td th:text="${people.mass}"></td>
			            	<td th:text="${people.hairColor}"></td>
			            	<td th:text="${people.skinColor}"></td>
			            	<td th:text="${people.eyeColor}"></td>
			            	<td th:text="${people.birthYear}"></td>
			            	<td th:text="${people.gender}"></td>
			            	<td th:text="${people.created}"></td>
			            	<td th:text="${people.edited}"></td>
			            	<td th:text="${people.url}"></td>
			            </tr>
			            
			          </tbody>
			        </table>
			      </div>
		    </div>
  </body>
</html>