<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
    <title>Star Wars API</title>
  </head>
  <body>
		<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
		    <a class="navbar-brand" href="#">Star Wars API</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarCollapse">
		        <ul class="navbar-nav mr-auto">
		          <li class="nav-item">
		                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" th:href="@{/films/}">Films</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" th:href="@{/people/}">Characters</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" th:href="@{/starships/}">Starships</a>
		            </li>
		        </ul>
		    </div>
		</div>
		
		<main role="main" class="container">
		    <div class="jumbotron text-center">
		        <h1>Summary pilot</h1>
					<div class="table-responsive">
			        	<div class="table custom-table" th:each="pilot : ${listSummaryPilot}">
			               <p th:text="${'The character who has piloted the most starships in the selected films is ' + pilot.character + ' with ' + pilot.contador + ' starships' }" class="lead text-info"></p>
			        	</div>
			      </div>
		    </div>
		</main>
  </body>
</html>